name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
        env:
          CI: true


  deploy:
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: SSH to EC2 and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd /home/ubuntu/hello-sefo

            # Pull latest changes
            git pull origin main

            # Stop containers
            sudo docker-compose down || true

            # Build and start containers
            sudo docker-compose up -d --build

            # Clean up old images
            sudo docker image prune -af --filter "until=24h" || true

      - name: Deployment Status
        if: success()
        run: echo "✅ Deployment successful!"

      - name: Deployment Failed
        if: failure()
        run: echo "❌ Deployment failed!"